body {
    overflow-x: hidden;
}

#wrapper {
    min-height: 100vh;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: 0;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
}
